<!DOCTYPE html>
<html>
  <head>
    <title>Inate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="static/layouts.css" rel="stylesheet" media="screen" />
  </head>

  <body>
    {% include 'navbar.html' %} {% if session['username']=='admin' %}
    <div class="components_container">
      {% include '/components/OKRs.html' %} {% include
      '/components/dashboard.html' %} {% include
      '/components/investor_reporting.html' %}
    </div>
    {% endif %} {% if session['username']=='employee' %}
    <div class="components_container">
      {% include '/components/OKRs.html' %}
    </div>
    {% endif %} {% if session['username']=='user' %}
    <div class="components_container">
      {% include '/components/due_diligence.html' %}
    </div>
    {% endif %}
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
