<head>
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="static/navbar.css" rel="stylesheet" media="screen" />
</head>
<div class="topnav">
  <div class="navbar_left">
    <a href="/">inaite.ai</a>
  </div>
  <div class="navbar_right">
    <a class="navbar_options_right" href="/">Home</a>
    <a class="navbar_options_right" href="/login">Login</a>
    <a class="navbar_options_right" href="/register"> Register </a>
    {% if 'loggedin' in session: %}
    <a class="navbar_options_right" href="/register"> Logout </a>
    {% endif %}
  </div>
</div>
