.comp {
  border: 2px solid black;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 0px 20px;
}
.comp_OKRS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
