@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

a,
u {
  text-decoration: none;
  color: black;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.navbar_right {
  display: block;
  font-weight: bolder;
  font-size: 2vw;
  padding-top: 3vw;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.navbar_options_right {
  padding-left: 1vw;
}

.navbar_left {
  font-weight: bolder;
  font-size: 5vw;
  padding-left: 1vw;
}
